<% if notice %>
  <div class="alert alert-warning" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<!--<%= render @articles %>-->
<div class="row">
  <div class="col-sm-8">
    <%  @articles.each do |article| %>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= link_to article.title, article_path(article) %></h4>
          <p class="card-text"><%= @markdown.render(article.body).html_safe %></p>
          <p class="card-text">Tags: <%= article.all_tags %></p>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-8">
              <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
              <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary-outline' %>
            </div>
            <div class="col-sm-4" style="text-align:right;">
              <span><%= article.comments.size %> <%= article.comments.size> 0 ? "comments" : "comment" %></span>  
              <span>
                <i class="glyphicon glyphicon-th-large"></i><%= article.view %> <%= article.view > 0 ? "views" : "view" %>
              </span>
            </div>
          </div>
          
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= form_tag articles_path, :method => 'get', class: 'form-inline' do %>
      <p>
        <%= text_field_tag :filter, params[:filter], :placeholder => 'Enter tag...', class: 'form-control' %>
        <%= submit_tag "Filter", :name => nil, class: 'btn btn-warning-outline' %>
      </p>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Article', new_article_path %>